<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">A little about myself</h2>
                <hr class="light">
                <p class="text-faded">I'm a Front-End Developer based in Bellville, Cape Town. My passion lies in creating excellent User Experiences while building great interfaces.</p>
                <p class="text-faded">I see myself as a technical solutionist, with a desire to build things while solving problems and adding value. The Design and Development field affords me this opportunity.</p>
            </div>
        </div>
    </div>
</section>
