<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">My Toolbelt</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fab fa-4x fa-html5 wow bounceIn text-primary"></i>
                    <h3>Html5</h3>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fab fa-4x fa-css3-alt wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>CSS3</h3>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fab fa-4x fa-js wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>JavaScript</h3>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fab fa-4x fa-react wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>React</h3>
                    <h4>(In training)</h4>
                </div>
            </div>
        </div>
    </div>
</section>
